# SLURM Common - Create SLURM User and Group
# Used by both controller and compute roles

- name: Create SLURM group
  ansible.builtin.group:
    name: "{{ slurm_group }}"
    state: present
    system: true
  become: true

- name: Create SLURM user
  ansible.builtin.user:
    name: "{{ slurm_user }}"
    group: "{{ slurm_group }}"
    system: true
    shell: /usr/sbin/nologin
    home: "{{ slurm_state_save_location }}"
    create_home: false
  become: true
