---
# Handlers for monitoring-stack role

- name: reload systemd
  systemd:
    daemon_reload: true

- name: restart prometheus
  systemd:
    name: prometheus
    state: restarted
  when: prometheus_start_service | default(true)

- name: restart node-exporter
  systemd:
    name: prometheus-node-exporter
    state: restarted
  when: node_exporter_start_service | default(true)

- name: restart alertmanager
  systemd:
    name: prometheus-alertmanager
    state: restarted
  when: alertmanager_start_service | default(true)

- name: restart grafana
  systemd:
    name: grafana-server
    state: restarted
  when: grafana_start_service | default(true)

- name: restart dcgm
  systemd:
    name: nvidia-dcgm
    state: restarted
  when: dcgm_start_service | default(true)

- name: restart dcgm-exporter
  systemd:
    name: dcgm-exporter
    state: restarted
  when: dcgm_exporter_start_service | default(true)
