- name: Disable IPv6 via sysctl when requested
  when: disable_ipv6 | bool
  block:
    - name: Write sysctl config to disable IPv6
      ansible.builtin.copy:
        dest: /etc/sysctl.d/99-disable-ipv6.conf
        owner: root
        group: root
        mode: '0644'
        content: |
          net.ipv6.conf.all.disable_ipv6 = 1
          net.ipv6.conf.default.disable_ipv6 = 1
          net.ipv6.conf.lo.disable_ipv6 = 1

    - name: Apply sysctl settings
      ansible.builtin.command: sysctl --system
      register: sysctl_apply
      changed_when: "'Applying /etc/sysctl.d/99-disable-ipv6.conf' in sysctl_apply.stdout or 'reload' in sysctl_apply.stdout | lower"
# end of tasks
