<domain type='kvm'>
  <name>{{ vm_name }}</name>
  <uuid>{{ vm_uuid | default('') }}</uuid>
  <memory unit='GiB'>{{ memory_gb }}</memory>
  <currentMemory unit='GiB'>{{ memory_gb }}</currentMemory>
  <vcpu placement='static'>{{ cpu_cores }}</vcpu>

  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
  </os>

  <features>
    <acpi/>
    <apic/>
    <vmport state='off'/>
  </features>

  <cpu mode='host-passthrough'>
    <topology sockets='1' cores='{{ cpu_cores }}' threads='1'/>
  </cpu>

  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>

  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>

  <devices>
    <emulator>/usr/bin/qemu-system-x86_64</emulator>

    <!-- Primary disk -->
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ disk_path }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>

    <!-- Network interface -->
    <interface type='network'>
      <source network='{{ cluster_name }}-network'/>
      <model type='virtio'/>
      {% if mac_address %}
      <mac address='{{ mac_address }}'/>
      {% endif %}
    </interface>

    <!-- Basic controllers -->
    <controller type='usb' index='0' model='qemu-xhci'/>
    <controller type='pci' index='0' model='pcie-root'/>

    <!-- Console access -->
    <serial type='pty'>
      <target type='isa-serial' port='0'/>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>

    <!-- Remote access -->
    <graphics type='vnc' port='-1' autoport='yes' listen='127.0.0.1'/>
    <video>
      <model type='qxl'/>
    </video>

    <!-- Essential devices -->
    <input type='keyboard' bus='ps2'/>
    <input type='mouse' bus='ps2'/>
    <memballoon model='virtio'/>
    <rng model='virtio'>
      <backend model='random'>/dev/urandom</backend>
    </rng>
  </devices>
</domain>
