# BeeGFS Common Package Installation
# Uses the package-manager role for unified package installation
#
# Required variables:
#   - beegfs_service_type: mgmt|meta|storage|client
#   - beegfs_binary_check_path: path to binary for installation check (e.g., /usr/bin/beegfs-mgmtd)
#   - beegfs_required_packages: list of package patterns (e.g., ["beegfs-mgmtd_{{ beegfs_version }}_*.deb", "beegfs-utils_{{ beegfs_version }}_*.deb"])
#   - beegfs_verify_command: command to verify installation (e.g., "beegfs-mgmtd --version")
#   - beegfs_version: version string (e.g., "8.1.0")
#   - beegfs_packages_path: path where packages should be located on remote host
#   - beegfs_packages_source_dir: path where packages are located on Ansible controller

- name: Install BeeGFS packages via package-manager for {{ beegfs_service_type }}
  ansible.builtin.import_role:
    name: package-manager
  vars:
    package_name: "BeeGFS {{ beegfs_service_type }}"
    package_binary_path: "{{ beegfs_binary_check_path }}"
    package_files: "{{ beegfs_required_packages }}"
    package_remote_path: "{{ beegfs_packages_path }}"
    package_source_dir: "{{ beegfs_packages_source_dir }}"
    package_dependencies: "{{ beegfs_dependencies | default([]) }}"
    component_tag: "beegfs-{{ beegfs_service_type }}"
    verify_command: "{{ beegfs_verify_command | default('') }}"
  tags:
    - beegfs
    - beegfs-{{ beegfs_service_type }}
    - install
