all:
  children:
    hpc_cluster:
      children:
        hpc_controllers:
          hosts:
            hpc-controller:
              ansible_host: 192.168.190.10
              cpu_cores: 2
              memory_gb: 4
              disk_gb: 20
              base_image_path: build/packer/hpc-controller/hpc-controller/hpc-controller.qcow2
              node_role: controller
          vars: {}
        hpc_compute_nodes:
          hosts:
            hpc-compute-01:
              ansible_host: 192.168.190.131
              cpu_cores: 4
              memory_gb: 8
              disk_gb: 30
              base_image_path: ''
              node_role: compute
              has_gpu: false
            hpc-compute-02:
              ansible_host: 192.168.190.143
              cpu_cores: 4
              memory_gb: 8
              disk_gb: 30
              base_image_path: ''
              node_role: compute
              has_gpu: false
          vars: {}
        hpc_gpu_nodes:
          hosts: {}
          vars: {}
      vars:
        cluster_name: test-cgroup-isolation-hpc
        slurm_config:
          partitions:
            - compute
          default_partition: compute
          max_job_time: '4:00:00'
          gres_types: []
        network:
          name: test-cgroup-net
          bridge: virbr-cgroup
          subnet: 192.168.190.0/24
          dhcp_range:
            start: 192.168.190.100
            end: 192.168.190.200
    cloud_cluster:
      children:
        k8s_control_plane:
          hosts:
            k8s-control-plane:
              ansible_host: 192.168.191.10
              cpu_cores: 2
              memory_gb: 4
              disk_gb: 20
              base_image_path: ''
              node_role: control_plane
          vars: {}
        k8s_workers:
          hosts:
            k8s-worker-01:
              ansible_host: 192.168.200.11
              cpu_cores: 2
              memory_gb: 4
              disk_gb: 20
              base_image_path: ''
              node_role: worker
              worker_type: cpu
          vars: {}
        k8s_gpu_workers:
          hosts: {}
          vars: {}
      vars:
        cluster_name: test-cgroup-cloud
        kubernetes_config:
          cni: calico
          ingress: nginx
          storage_class: local-path
        network:
          name: test-cgroup-cloud-net
          bridge: virbr-cgcloud
          subnet: 192.168.191.0/24
          dhcp_range:
            start: 192.168.191.100
            end: 192.168.191.200
