all:
  children:
    hpc_cluster:
      children:
        hpc_controllers:
          hosts:
            hpc-controller:
              ansible_host: 192.168.100.10
              cpu_cores: 4
              memory_gb: 8
              disk_gb: 100
              base_image_path: build/packer/hpc-controller/hpc-controller/hpc-controller.qcow2
              node_role: controller
          vars: {}
        hpc_compute_nodes:
          hosts: {}
          vars: {}
        hpc_gpu_nodes:
          hosts:
            hpc-compute-01:
              ansible_host: 192.168.100.11
              cpu_cores: 8
              memory_gb: 16
              disk_gb: 200
              base_image_path: build/packer/hpc-compute/hpc-compute/hpc-compute.qcow2
              node_role: gpu_compute
              gpu_devices:
              - device_id: '2805'
                vendor_id: 10de
                pci_address: '0000:01:00.0'
                iommu_group: unknown
                vendor: nvidia
                memory: unknown
              gpu_count: 1
              has_gpu: true
              slurm_gres:
              - NodeName=hpc-compute-01 Name=gpu Type=nvidia_2805 File=/dev/nvidia0
            hpc-compute-02:
              ansible_host: 192.168.100.12
              cpu_cores: 8
              memory_gb: 16
              disk_gb: 200
              base_image_path: ''
              node_role: gpu_compute
              gpu_devices:
              - device_id: '2504'
                vendor_id: 10de
                pci_address: '0000:07:00.0'
                iommu_group: unknown
                vendor: nvidia
                memory: unknown
              gpu_count: 1
              has_gpu: true
              slurm_gres:
              - NodeName=hpc-compute-02 Name=gpu Type=nvidia_2504 File=/dev/nvidia0
          vars: {}
      vars:
        cluster_name: hpc-cluster
        slurm_config:
          partitions:
          - gpu
          - debug
          default_partition: gpu
          max_job_time: '24:00:00'
        network:
          subnet: 192.168.100.0/24
          bridge: virbr100
        slurm_gres_conf:
        - NodeName=hpc-compute-01 Name=gpu Type=nvidia_2805 File=/dev/nvidia0
        - NodeName=hpc-compute-02 Name=gpu Type=nvidia_2504 File=/dev/nvidia0
    cloud_cluster:
      children:
        k8s_control_plane:
          hosts:
            k8s-control-plane:
              ansible_host: 192.168.200.10
              cpu_cores: 4
              memory_gb: 8
              disk_gb: 100
              base_image_path: ''
              node_role: control_plane
          vars: {}
        k8s_workers:
          hosts:
            k8s-worker-01:
              ansible_host: 192.168.200.11
              cpu_cores: 4
              memory_gb: 8
              disk_gb: 100
              base_image_path: ''
              node_role: worker
              worker_type: cpu
          vars: {}
        k8s_gpu_workers:
          hosts:
            k8s-gpu-worker-01:
              ansible_host: 192.168.200.12
              cpu_cores: 8
              memory_gb: 16
              disk_gb: 200
              base_image_path: ''
              node_role: gpu_worker
              worker_type: gpu
              gpu_devices:
              - device_id: '2684'
                vendor_id: 10de
                pci_address: 0000:65:00.2
                iommu_group: 3
                vendor: nvidia
                memory: unknown
              gpu_count: 1
              has_gpu: true
            k8s-gpu-worker-02:
              ansible_host: 192.168.200.13
              cpu_cores: 8
              memory_gb: 16
              disk_gb: 200
              base_image_path: ''
              node_role: gpu_worker
              worker_type: gpu
              gpu_devices:
              - device_id: 1e36
                vendor_id: 10de
                pci_address: 0000:ca:00.0
                iommu_group: 4
                vendor: nvidia
                memory: unknown
              gpu_count: 1
              has_gpu: true
          vars: {}
      vars:
        cluster_name: cloud-cluster
        kubernetes_config:
          cni: calico
          ingress: nginx
          storage_class: local-path
        network:
          subnet: 192.168.200.0/24
          bridge: virbr200
